<h1>About Me</h1>

<hr>

<p>Hi. I am Anshul.</p>
<p>By proffession and passion I am a full stack web developer. With around 5 years of work exp, I thrive to learn more every day. Off late I have been taken over by the magic of ruby on rails! And this site is by-product of that.</p>

<p>More details to follow on this page.</p>

