<h1>Would you like to get in touch?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>Superior St, Chicago, IL 60654</p>

    <h3>Phone</h3>

    <p>312-xxx-xxxx</p>

    <h3>Email</h3>

    <p><a href="mailto:anshulshankar@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4214.616295536185!2d-87.6355712251827!3d41.895579118711694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd34cb22da309%3A0x34ae1a14f451864c!2sW+Superior+St+%26+N+LaSalle+Dr%2C+Chicago%2C+IL+60654!5e0!3m2!1sen!2sus!4v1518329604957" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>"
  </div>
</div>
