<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">One of my most productive days was throwing away 1000 lines of code.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
